body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
body:first-child{
    height: 150px;
}

#cardListedContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.list-card{
  display: flex;
  border-radius: 10px;
  background-color: #1E1E1E;
}

article {
    margin-left: 20px;
    position: relative;
    width: 250px;
    transition: all 0.3s ease;
    box-shadow: 0 0 20px #2cff05, 0 0 40px #2cff05;
    border-radius: 4px;
  }

  
  article img:first-child {
    background-color: black;
    border-radius: 8px;
    object-fit: cover;
    width: 350px;
  }
  
  .list-card:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: 0.3s ease;
    opacity: 0;
  }
  
  .list-card:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
  }
  
  article::before {
    content: attr(data-circuit-description);
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .list-card:hover::before {
    opacity: 1;
  }
  
  .list-card:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
  }